@import 'normalize';

$primary-blue: #116BB8;
$off-white: #F8F8FF;
$title-font: 'Montserrat';
$body-font: 'Open Sans';

html, body, p, h1, h2, h3, h4, h5 {
  margin: 0rem;
  padding: 0rem;
  font-family: $body-font;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

u {
  border-bottom: solid 3px $primary-blue;
  display: inline;
  padding-bottom: 4px;
  text-decoration: none;
}

h3 {
  font-family: $title-font;
  font-size: 1rem;
}

p, span {
  font-size: 0.9rem;
}

i {
  font-size: 2rem !important;
  padding-left: 1rem;
  padding-right: 1rem;
}

.bold {
  font-weight: bold;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.color-blue {
  color: $primary-blue;
}

.body-container {
  margin: 3rem 20rem;
}

@media (max-width: 1200px) {
  .body-container {
    margin: 3rem 5rem;
  }
}

@media (max-width: 700px) {
  .body-container {
    margin: 3rem 1rem;
  }
}

.footer-pill {
  margin: 5rem auto 5rem auto;
  text-align: center;
  color: $off-white;
  height: auto;
  width: 200px;
  border-radius: 500px;
  padding: 1rem;
  background-color: $primary-blue;
}

.footer-pill-absolute {
  bottom: 20px;
  left: 0px;
  right: 0px;
  margin: 0rem auto;
  position: absolute;
  text-align: center;
  color: $off-white;
  height: auto;
  width: 200px;
  border-radius: 500px;
  padding: 1rem;
  background-color: $primary-blue;
}

.navbar {
  height: 10vh;
  background-color: $primary-blue;
  text-align: center;
  z-index: 10;
}

.navbar-item {
  font-size: 1rem;
  font-family: $title-font;
  color: $off-white;
  display: inline-block;
  padding-left: 5rem;

  // Vertical alginment
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.navbar-item:first-child {
  padding-left: 0rem;
}

.navbar-logo {
  float: left;
}

.landing-container {
  height: 90vh;
  position: relative;
  background: url("../public/img/team.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.landing-event {
  bottom: 20px;
  right: 20px;
  position: absolute;
  height: auto;
  width: 350px;
  border-radius: 0.25rem;
  padding: 1rem;
  background-color: $off-white;
}

.landing-event-header {
  font-family: $title-font;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.landing-event-desc {
  font-family: $body-font;
  margin-bottom: 1rem;
}

.landing-event-photo {
  border-radius: 0.25rem;
}

.about-intro {
  line-height: 1.4rem;
  margin-bottom: 3rem;
}

.about-team-container {
  width: 100%;
  margin-top: 1rem;
}

.about-alumni-container {
  width: 100%;
  margin-top: 1rem;
  height: 400px;
}

.about-team-container {
  width: 100%;
  margin-top: 2rem;
}

.about-team-officer {
  display: inline-block;
  padding-right: 3%;
  padding-bottom: 2rem;
  width: 30%;
}

.about-team-officer:nth-child(3),  .about-team-officer:nth-child(6) {
  padding-right: 0%;
}

.events-intro, .recruit-intro {
  margin-bottom: 2rem;
}

.careers-intro {
  margin-bottom: 1rem;
}

.careers-shortcuts {
  margin-bottom: 2rem;
}

.careers-shortcuts > p > a:hover {
  color: $primary-blue;
}

.recruit-intro .job-list {
  line-height: 1.4rem;
  font-size: 0.9rem;
}

.recruit-application {
  height: 400px;
}

.events-category-header {
  margin-bottom: 1rem;
}

.events-category {
  font-family: $title-font;
  margin-bottom: 1rem;
}

.events-entry {
  margin-bottom: 1rem;
  font-family: $body-font;
}

.careers-table {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.back-to-top:hover {
  color: $primary-blue;
}

.back-to-top {
  float: right;
}

.table-format {
  padding: 1%;
  display: inline-block;
}

.careers-table-category {
  @extend .table-format;
  font-family: $title-font;
  text-align: left;
  text-transform: uppercase;
  border-left: 1px solid $primary-blue;
  border-right: 1px solid $primary-blue;
  border-bottom: 1px solid $primary-blue;
  width: calc(98% - 2px);
}

.careers-table-header {
  @extend .table-format;
  font-family: $title-font;
  text-align: left;
  text-transform: uppercase;
  font-family: $title-font;
  background-color: $primary-blue;
  color: $off-white;

  &:first-child {
    border-top-left-radius: 0.25rem;
  }

  &:last-child {
    border-top-right-radius: 0.25rem;
  }
}

.careers-table-entry {
  font-size: 0.9rem;
  border-left: 1px solid $primary-blue;
  border-right: 1px solid $primary-blue;
  border-bottom: 1px solid $primary-blue;
}

.careers-table {
  .name {
    @extend .table-format;
    width: 20%;
  }
  .company {
    @extend .table-format;
    width: 25%;
  }
  .group {
    @extend .table-format;
    width: 25%;
  }
  .location {
    @extend .table-format;
    width: 22%;
  }
}

.sponser-square {
  width: 29%;
  display: inline-block;
  padding: 2%;
  vertical-align: middle;

  & > img {
    -webkit-filter: grayscale(100%);
  }

  & > img:hover {
    -webkit-filter: grayscale(0%);
  }
}

.sponsor-square-year {
  text-align: center;
  display: inline-block;
  width: 33%;
}
