.body-container {
  margin: 3rem 20rem;
}

.landing-container {
  height: 90vh;
  position: relative;
  background: url("../public/img/team.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
  filter: grayscale(100%);
}

.landing-container:hover {
  -webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
  filter: grayscale(0%);
}

.landing-container:hover .logo-container {
  display: none;
}

.logo-container {
  bottom: 25vh;
  position: absolute;
  left: 0px;
  right: 0px;
  margin: 0rem auto;
  width: 350px;
}

@media (max-width: 1150px) {
  .body-container {
    margin: 3rem 5rem;
  }

  .about-team-officer {
    padding-right: 4% !important;
    width: 46% !important;
  }

  .about-team-officer:nth-child(even) {
    padding-right: 0% !important;
  }
}

@media (max-width: 775px) {
  .body-container {
    margin: 3rem 1rem;
  }
  .about-team-officer {
    width: 100% !important;
  }
  .navbar-item {
    display: none !important;
  }
  .navbar .responsive-menu {
    display: inline-block !important;
    font-size: 1rem;
    font-family: $title-font;
    color: $off-white;
    display: inline-block;
    cursor: pointer;

    // Vertical alginment
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .careers-table {
    .name {
      width: 32% !important;
    }
    .company {
      width: 32% !important;
    }
    .group {
      width: 30% !important;
    }
    .location {
      width: 0% !important;
      display: none !important;
    }
  }
  .careers-table-header:nth-child(3) {
    border-top-right-radius: 0.25rem;
  }
}

.navbar .responsive-menu {
  display: none;
}
