.body-container {
  margin: 3rem 20rem;
}

.landing-container {
  height: calc(100vh - 100px);
  position: relative;
  background: url("../public/img/team.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
  filter: grayscale(100%);

  &:hover {
    -webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
    filter: grayscale(0%);
  }
}

.logo-container {
  bottom: 25vh;
  position: absolute;
  left: 0px;
  right: 0px;
  margin: 0rem auto;
  width: 350px;
}

@media (max-width: 1150px) {
  .body-container {
    margin: 3rem 5rem;
  }
  .about-team-officer {
    padding-right: 4% !important;
    width: 46% !important;
  }
  .about-team-officer:nth-child(even) {
    padding-right: 0% !important;
  }
}

@media (max-width: 775px) {
  .body-container {
    margin: 3rem 1rem;
  }
  .about-team-officer {
    width: 100% !important;
  }
  .navbar-item {
    display: none !important;
  }
  .responsive-menu {
    padding-bottom: 2rem;
    top: 25% !important;
  }
  .menu {
    display: block !important;
  }
  .navbar-item-responsive {
    display: block !important;
    padding: 1rem 0rem 1rem 0rem !important;
    top: 25% !important;
  }
  .navbar-responsive {
    height: 100% !important;
    position: absolute;
    top: 0rem;
    right: 0rem;
    width: 100%;
  }
  .landing-container-responsive {
    margin-top: 150px;
  }
  .careers-table {
    .name {
      width: 48% !important;
    }
    .company {
      width: 48% !important;
    }
    .group {
      width: 0% !important;
      display: none !important;
    }
    .location {
      width: 0% !important;
      display: none !important;
    }
  }
  .company-list {
    margin-bottom: 1rem !important;

    .column {
      width: 100% !important;
    }
  }
  .careers-table-header:nth-child(2) {
    border-top-right-radius: 0.25rem;
  }
}

.navbar .responsive-menu {
  display: none;
}
