.events-category {
  font-family: $title-font;
  margin-bottom: 1rem;

  .events-category-header {
    margin-bottom: 1rem;
  }
  .events-entry {
    margin-bottom: 1rem;
    font-family: $body-font;

    .company-list {
      font-size: 0.9rem;
      margin: 1rem 0rem;
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      justify-content: flex-start;

      .column {
        text-align: left;
        width: 25%;

        span:hover {
          color: $primary-blue;
        }
      }
    }
  }
}

.events-intro, .recruit-intro {
  margin-bottom: 2rem;
}

.sponsor-square-year {
  text-align: center;
  display: inline-block;
  width: 33%;
}
