.events-category-header {
  margin-bottom: 1rem;
}

.events-category {
  font-family: $title-font;
  margin-bottom: 1rem;
}

.events-entry {
  margin-bottom: 1rem;
  font-family: $body-font;
}

.events-intro, .recruit-intro {
  margin-bottom: 2rem;
}

.sponsor-square-year {
  text-align: center;
  display: inline-block;
  width: 33%;
}
