.recruit-intro {
  font-size: 0.9rem;

  .job-list {
    line-height: 1.4rem;
  }
}

.recruit-application {
  height: auto;
}

.recruit-header {
  margin-bottom: 1.5rem;
}

.recruit-timeline {
  margin: 1rem 0rem;

  .timeline {
    margin: 1rem 0rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    .entry {
      text-align: center;
      margin: 0rem 5% 1rem 0rem;
    }
  }
}

.box {
  margin: 1rem 0rem;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile + label {
    max-width: 80%;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}
.no-js .inputfile + label {
    display: none;
}
.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}
.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}
.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}
.inputCV + label,
.inputResume + label {
    color: $primary-blue;
    border: 2px solid currentColor;
    border-radius: 0.25rem;
}
.inputCV:focus + label,
.inputCV.has-focus + label,
.inputCV + label:hover,
.inputResume:focus + label,
.inputResume.has-focus + label,
.inputResume + label:hover {
    color: $primary-blue;
    outline: 0px;
}

.recruit-submit {
  color: white;
  background-color: $primary-blue;
  border: 2px solid $primary-blue;
  font-family: $body-font;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}
